body {
    background: #fd0;
    
}

.carousel {
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.AlterarSenha {
    margin-top: 20px;
    font-size: 14pt;
}

.CadastrarMe {
    margin-top: 6px;
    font-size: 14pt;
}

#submit {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}


.box-btn-login {
    width: 100%;
    text-align: center;
}

.form-control:focus {
    border-color: #d39e00;
    box-shadow: 0 0 0 0.2rem #d39e00;
}